<h1>To do</h1>

<form id="form_id" action="/list" method="get">
  <button name="button">View all lists</button>
</form>

<form id="form_id" action="/list_form" method="post">
  <button name="button">Add a list</button>
</form>
